# SentinelAI — FastAPI Backend Dependencies

# Backend Framework
fastapi==0.115.0
uvicorn==0.30.6
pydantic==2.7.4
python-dotenv==1.0.1

# Security & Authentication
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4

#Machine Learning
xgboost==2.1.1
scikit-learn==1.5.1
joblib==1.4.2
pandas==2.2.2
numpy==1.26.4
